body {
    margin: 0;
    padding: 50px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button {
    border-radius: 2px;
    height: 32px;
    box-shadow: none;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 16px;
}
input.error{
    border-color: red;
    color: red;
}
ul li{
    font-size: 16px;
}
button {
    background-color: lightgrey;
    cursor: pointer;
}
del{
    text-decoration: none;
    color: blue;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}